.alert {
	border-radius: 0;

	.error-header {
		margin-bottom: 35px;
	}
}

.alert-info {
	background-color: $color-gray-light;
	border-color: $color-gray-light;

	h2 {
		margin: 0 0 15px;
	}

	li,
	p {
		strong {
			font-weight: 500;
			line-height: 1.5;
			margin-bottom: 10px;
		}
	}
}

.alert-warning {
	background-color: $color-chartreuse-light;
	border: none;
}

.alert-info,
.alert-warning {
	color: $text-color;
}

.alert ol {
	padding-left: 1.2em;

	li {
		margin-bottom: 1em;
	}

	ul {
		padding-top: 1em;
	}
}

.alert-success {
	background-color: $color-green-light;
	border-color: $color-green-light;
	color: #000;
	margin-bottom: 15px;
}
