body {
	padding-top: 140px;
	@include breakpoint(sm) {
		padding-top: 100px;
	}
}

header {
	background: $color-white;

	a {
		color: $nav-text-color;

		&:link,
		&:visited {
			text-decoration: none;
		}

		&:focus,
		&:hover {
			text-decoration: underline;
		}

		&.header-brand {
			text-decoration: none;
		}
	}
}

.navbar-toggle {
	border-bottom: 1px solid $color-gray-light;
	border-left: none;
	border-radius: 0;
	border-right: none;
	border-top: none;
	display: block;
	float: none;
	margin: 0 auto;
	padding: 14px;
	width: 100%;
	@include breakpoint(sm) {
		display: none;
	}

	.icon {
		display: inline-block;
		margin-right: 14px;

		.icon-bar {
			background-color: $color-white;
		}
	}

	.icon-bar + .icon-bar {
		margin-top: 5px;
	}

	.toggle-text {
		display: inline-block;
		font-size: 1.25rem;
	}

	&.collapsed {
		background-color: transparent;
		color: inherit;

		.icon {
			.icon-bar {
				background-color: $brand-secondary-dark;
			}
		}
	}
}

nav.navbar.navbar-default {
	background-color: $color-white;
	border: none;
	@include breakpoint(sm) {
		box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
		padding: 0 30px;
	}

	.navbar-toggle {
		background-color: $color-teal;
		color: $color-white;

		&.collapsed {
			background-color: transparent;
			color: inherit;
		}
	}

	ul {
		li {
			a:not(.btn-tertiary) {
				border-bottom: 1px solid $color-gray-light;
				color: $nav-text-color;
				padding: 20px 0;

				@include breakpoint(sm) {
					border-bottom: none;
					padding: 23px 0;
				}

				@include breakpoint(md) {
					padding: 20px 0;
				}

				.dropdown-title,
				.nav-title {
					color: $color-white;
					font-size: 1.25rem;
					margin-bottom: 6px;
					@include breakpoint(sm) {
						color: $color-navy;
						font-size: 1rem;
					}
					@include breakpoint(md) {
						font-size: 1.25rem;
					}
				}

				.nav-title {
					line-height: 1.175;
				}

				.dropdown-title::after {
					content: '\f078';
					display: inline-block;
					font-family: 'FontAwesome';
					font-size: 10px;
					transform: translateX(0.5rem) translateY(-0.25rem);
					transition: 0.25s;
				}

				.dropdown-description,
				.nav-description {
					color: $color-white;
					font-size: 0.8rem;
					font-weight: 300;
					line-height: 1.1rem;
					@include breakpoint(sm) {
						color: $color-teal;
						font-size: 0.7rem;
					}
					@include breakpoint(md) {
						font-size: 0.8rem;
					}
				}

				.content-wrapper {
					padding: 0 20px;
					@include breakpoint(sm) {
						border-left: 1px solid $color-gray-very-light;
						padding: 0 10px;
					}
					@include breakpoint(md) {
						padding: 0 20px;
					}
				}
			}

			a:not(.btn-tertiary):link,
			a:not(.btn-tertiary):visited {
				text-decoration: none;
			}

			a:not(.btn-tertiary):focus,
			a:not(.btn-tertiary):hover {
				text-decoration: none;
			}

			.dropdown-menu li a:hover {
				color: $color-gray-light;
				text-decoration: underline;
			}

			.dropdown-menu li a:not(.btn-tertiary) {
				display: block;
				font-size: 1rem;
				font-weight: 300;
				line-height: 140%;
				padding: 0;
			}

			&:first-child a:not(.btn-tertiary) .content-wrapper {
				border-left: none;
			}

			&.open a.dropdown-toggle,
			a.dropdown-toggle:focus {
				background-color: transparent;
				@include breakpoint(sm) {
					background-color: $color-white;
					border-bottom: 4px solid $color-teal;
				}

				.dropdown-title {
					color: $color-white;
					@include breakpoint(sm) {
						color: $color-teal;
					}
				}
			}

			&.open {
				a.dropdown-toggle {
					.dropdown-title {
						&::after {
							transform: translateX(0.5rem) translateY(-0.25rem) rotate(180deg);
						}
					}
				}
			}

			button {
				background: none;
				border: none;
				border-bottom: 1px solid $color-gray-light;
				color: $color-white;
				font-size: 1rem;
				font-weight: 300;
				outline: none;
				padding: 0;
				text-align: left;
				width: 100%;

				&:hover,
				&:focus {
					text-decoration: underline;
				}

				@include breakpoint(sm) {
					border-bottom: none;
				}
			}

			.dropdown-menu {
				background-color: $color-teal-dark;
				border: none;
				border-radius: 0;
				box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
				padding: 24px 24px 10px;

				@include breakpoint(sm) {
					background-color: $color-teal-dark;

					&.single-column {
						width: 250px;
					}

					&.single-column-apms {
						width: 315px;
					}

					&.double-column {
						width: 500px;
					}

					&.double-column-mips {
						width: 595px;
					}
				}

				.dropdown-header {
					border-bottom: 1px solid $color-white;
					color: $color-white;
					font-size: 1rem;
					font-weight: 500;
					margin-bottom: 22px;
					padding: 0;
					text-transform: uppercase;
				}

				ul {
					padding: 0;
				}

				li {
					display: block;
					margin-bottom: 16px;
					width: 100%;
				}

				.btn-tertiary {
					display: block;
					font-size: 1rem;
					margin-bottom: 10px;
					margin-top: 1rem;
					text-align: center;

					&:hover,
					&:focus {
						background-color: transparent;
						border-bottom: 3px solid inherit;
						color: $color-white;
					}
				}
			}
		}
	}
}

.navbar-collapse {
	-webkit-overflow-scrolling: auto;
}

.navbar-fixed-top .navbar-collapse {
	max-height: none;
}

.lg-menu-break {
	@include breakpoint(sm) {
		display: block;
	}
}

#nav-mobile {
	background-color: darken($color-teal, 5%);
	@include breakpoint(sm) {
		background-color: transparent;
	}

	.navbar-nav {
		@include breakpoint(xs) {
			margin-bottom: 0;
			margin-top: 0;
		}
	}
}

.header-brand {
	&:active,
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

.header-mobile-brand {
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-around;
	@include breakpoint(sm) {
		box-shadow: none;
	}

	.header-brand {
		img {
			&.qpp-logo {
				height: 45px;
				margin: 20px 0;
				@include breakpoint(sm) {
					float: left;
					height: 50px;
					margin: 27px 0;
				}
				@include breakpoint(md) {
					height: 54px;
				}
			}
		}
	}

	.help {
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include breakpoint(sm) {
			visibility: hidden;
		}

		.help-icon {
			background: url('/images/icons/help-headset.svg') no-repeat;
			height: 30px;
			margin-top: 6px;
			width: 30px;
		}

		span {
			color: $color-teal;
			font-size: 0.9rem;
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
		}
	}
}

.header-container {
	align-items: center;
	display: flex;
	margin: 0 auto;
	@include breakpoint(md) {
		height: 90px;
		max-width: 1170px;
		padding: 0 15px;
	}
	@include breakpoint(lg) {
		width: 1170px;
	}
}

.navbar-header {
	@include breakpoint(md) {
		float: left;
	}
}

.navbar-right {
	@include breakpoint(sm) {
		margin-left: -15px;
	}
	@include breakpoint(md) {
		margin-left: inherit;
	}

	.dropdown:first-of-type .dropdown-menu {
		@include breakpoint(sm) {
			right: -100%;
		}
		@include breakpoint(md) {
			right: 0;
		}
	}
}
