.modal-subscribe-footer {
	padding-top: 10px;
	text-align: center;
}

.modal-footer {
	text-align: center;

	a {
		margin-right: 20px;
	}
}

#privacy-modal {
	.text-wrap-normal {
		white-space: normal;
	}
}
