.panel-group {
	margin-bottom: 20px;
}

.panel-title {
	align-content: center;
	align-items: center;
	display: flex;

	a {
		color: $color-blue-light;

		&:first-child {
			width: 85%;
		}
	}

	svg {
		height: 15px;
		width: 15px;
	}
}

.panel-default {
	& > .panel-heading {
		background-color: transparent;

		h3 {
			margin: 0.5em 0;
		}

		a {
			line-height: 1.4;
		}
	}
}

.panel-body {
	font-size: 1rem;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #fff;
}

.panel-info {
	& > .panel-heading {
		background-color: $color-teal-light;
	}

	&.selected-measures {
		border-color: $color-teal-light;

		p.panel-title {
			color: #000;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
		}
	}
}
