<div id="qpp-nav-header">
	<div>
		<header id="top">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="navbar-header">
					<div class="header-mobile-brand">
						<a class="header-brand" href="{{ "/" | relative_url }}">
							<img class="qpp-logo" src="{{ "/images/qpp_logo_rgb_color.png" | relative_url }}" alt="qpp logo">
						</a>
					</div>
				</div>
				<div class="navbar-collapse collapse" id="nav-mobile" aria-expanded="true">
					<ul class="nav navbar-nav navbar-right">
					</ul>
				</div>
			</nav>
		</header>
	</div>
</div>