footer {
	background: $color-navy;
	color: $nav-text-color;
	font-size: 1rem;
	margin-top: 100px;
	padding: 25px 0;

	h4 {
		color: $nav-text-color;
		font-family: inherit;
		font-size: 1rem;
		font-weight: 600;
		line-height: 26px;
		text-transform: uppercase;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			display: block;
			margin-bottom: 10px;
			margin-right: 2em;
			@include breakpoint(sm) {
				display: inline-block;
			}

			a {
				margin: 0;

				&:link,
				&:visited {
					color: $nav-color-secondary-light;
					text-decoration: none;
				}

				&:focus,
				&:hover {
					color: $nav-color-secondary-light;
					text-decoration: underline;
				}
			}
		}

		&.small {
			@include breakpoint(xs) {
				margin-top: 40px;
			}
			@include breakpoint(sm) {
				margin-top: 40px;
			}

			li {
				margin: 0 1em 1em 0;
			}
		}
	}

	.logo-container {
		border-bottom: 1px solid #294d71;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 20px;
		padding-bottom: 30px;

		@include breakpoint(xs) {
			border-bottom: none;
			flex-direction: column;
		}

		.social-container {
			border-top: none;
			display: flex;
			margin-top: 0;
			padding-top: 15px;

			@include breakpoint(xs) {
				border-top: 1px solid #294d71;
				margin-top: 30px;
				padding: 30px 0 0;
			}

			.social-link {
				align-items: center;
				border: 1px solid #80cbc4;
				border-radius: 50%;
				color: $color-white;
				display: flex;
				height: 45px;
				justify-content: center;
				margin-left: 15px;
				text-decoration: none;
				width: 45px;

				@include breakpoint(xs) {
					margin-left: 0;
					margin-right: 15px;
				}

				.glyphicon-twitter,
				.glyphicon-youtube {
					font-size: 20px;
				}

				.glyphicon-twitter::before {
					content: '\f099';
					font-family: 'FontAwesome';
				}

				.glyphicon-youtube::before {
					content: '\f167';
					font-family: 'FontAwesome';
				}
			}
		}
	}

	.qpp-logo {
		height: 55px;
		width: 233px;
		@include breakpoint(xs) {
			display: block;
			margin: 0 auto;
		}
	}

	.hhs-logo-container {
		border-top: 1px solid #294d71;
		margin-bottom: 15px;
		margin-top: 15px;
		@include breakpoint(sm) {
			border-left: 1px solid #294d71;
			border-top: none;
			padding-left: 15px;
		}
		@include breakpoint(md) {
			padding-left: 30px;
		}

		img {
			display: block;
			height: 150px;
			max-height: 100%;
			max-width: 100%;
			width: auto;
			@include breakpoint(xs) {
				margin-left: auto;
				margin-right: auto;
				margin-top: 30px;
			}

			// IE11 Fix
			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
				width: 100%;
			}
		}
	}

	#build-version {
		display: none;
	}

	// Authenticated Footer

	.container-full-width {
		margin-left: 40px;
		margin-right: 0;

		.logo-container .qpp-logo {
			margin: 0;
			@include breakpoint(xs) {
				display: block;
				margin: auto;
			}
			@include breakpoint(sm) {
				display: block;
				margin: auto;
			}
			@include breakpoint(md) {
				margin: 0;
			}
		}

		.hhs-logo-container {
			@include breakpoint(sm) {
				border-left: none;
				border-top: 1px solid #294d71;
			}

			@include breakpoint(md) {
				border-left: 1px solid #294d71;
				border-top: none;
			}
		}

		.links {
			ul li {
				@include breakpoint(sm) {
					display: block;
				}

				@include breakpoint(md) {
					display: inline-block;
				}
			}
		}

		.row {
			margin-right: 0;
		}
	}
}
