.info-modal-overlay {
	background-color: rgba(0, 0, 0, 0.8);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2000;
}

.info-modal-content {
	background: $color-white;
	border: 0 none;
	border-radius: 2px;
	bottom: auto;
	left: 50%;
	max-width: 800px;
	min-width: 450px;
	outline: none;
	overflow: auto;
	padding: 2rem 3rem 1rem;
	position: absolute;
	right: auto;
	top: 10%;

	transform: translateX(-50%);

	@include breakpoint(xs) {
		height: 100%;
		overflow: scroll;
		top: 0;
	}

	p {
		&.body-text {
			margin-bottom: 10px;
		}
	}

	h1 {
		color: $brand-primary-dark;
		font-size: 2rem;
		font-weight: 400;
		margin-bottom: 30px;
		position: relative;

		.icon {
			fill: $color-gray-medium;
			height: 1.9375rem;
			left: -2.75rem;
			position: absolute;
			top: 0.125rem;
			width: 2rem;
		}
	}

	.closeModal {
		background-color: transparent;
		border: 0;
		line-height: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 16px;
		top: 16px;

		@include breakpoint(xs) {
			padding: 16px;
			right: 10%;
		}

		.close-icon {
			fill: $color-gray-medium;
			height: 16px;
			width: 16px;

			@include breakpoint(xs) {
				height: 11px;
				width: 11px;
			}
		}
	}

	.list-section {
		color: $color-gray-dark;
		font-size: 0.9rem;

		p {
			font-weight: normal;
		}

		ul {
			margin-bottom: 0;
		}

		ul li {
			font-weight: 100;
		}
	}

	.actions {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 30px;
	}

	.btn {
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: 2rem;
		color: $color-teal;
		font-size: 0.75rem;
		margin-top: 0.25rem;
		padding: 1.25rem 4rem;
		text-transform: uppercase;

		&.primary-action {
			background-color: $color-teal;
			color: $color-white;
		}

		&.secondary-action {
			color: $color-gray-dark;
			font-weight: 100;
			text-decoration: underline;
			text-transform: none;
		}
	}
}
