/*
Shared details
 */

.sidebar {

	/* Practice details styles */

	.practice-container {
		padding: 0 25px;

		.practice-name {
			@include typography('Rubik', 20px, 26px, $color-white);
		}

		.practice-tin {
			@include typography('Rubik', 14px, 16px, $color-white);
			padding-top: 10px;
		}
	}

	/* Individual details */

	.individual-container {
		padding: 25px 25px 0;

		.individual-name {
			@include typography('Rubik', 16px, 22px, $color-white);
			font-weight: 500;
			text-transform: uppercase;
		}

		.individual-npi {
			@include typography('Rubik', 14px, 16px, $color-white);
			padding: 10px 0 0;
		}

		.individual-link {
			@include typography('Rubik', 14px, 20px, $color-teal-light);
			padding-bottom: 10px;

			&:hover {
				color: $color-white;
			}
		}
	}

	.practice-container,
	.individual-container {
		.switch-practice,
		.switch-clinician {
			margin: 0;
			padding-top: 10px;
		}
	}
}
