@include contentPadding("page-header-content", 0);

.page-header {
  @include page-header-background(true, $barsLength: "short", $barsCount: "more");

  position: relative;
  padding: 40px 0;
  margin: 0; // bootstrap ovverride
  border-bottom: 0; // bootstrap ovverride
  margin-top: 85px;
}

.page-header-breadcrumb {
  width: auto;
  margin-bottom: 20px;
}

.page-header-breadcrumb a {
  letter-spacing: 0.10em;
  text-transform: uppercase;
  font-size: $fs-16;
  font-weight: $font-weight-medium;
  color: white;
  text-decoration: none;
}


.page-header-heading .title {
  margin: 0;
  color: white;
  line-height: 0.9;
  font-size: $fs-24;
}

@include mediaQuery(desktop-and-up) {

  .page-header {
    margin-top: 108px;
  }

  .page-header-left {
    flex-basis: 65%;
  }

  .page-header-breadcrumb a {
    font-size: $fs-18;
  }

  .page-header-heading .title {
    font-size: $fs-32;
  }
}
