.chart {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 20px;
	text-align: center;

	button {
		background: none;
		border: none;
		padding: 0;
	}

	.score-chart {
		.arc {
			fill: none;
			stroke-width: 1.5;

			&.empty {
				fill: transparent;
				stroke: $color-slate-light;
			}

			&.filled {
				&.quality {
					fill: $color-quality;
					stroke: $color-quality;
				}

				&.aci {
					fill: $color-aci;
					stroke: $color-aci;
				}

				&.ia {
					fill: $color-ia;
					stroke: $color-ia;
				}
			}

			&.filled,
			&.empty {
				cursor: pointer;
			}
		}

		text {
			fill: $color-white;

			&.label {
				font-weight: normal;
			}

			&.chart-title {
				font-size: 40px;
				font-weight: 300;
			}

			&.chart-subtitle {
				fill: $color-gray-medium;
				font-size: 12px;
				font-weight: bold;
				letter-spacing: 0.1em;
			}
		}
	}

	.chart-tooltip {
		@include typography('Rubik', 14px, 20px, $color-text-main);
		background-color: rgba(255, 255, 255, 0.85);
		border-radius: 10px;
		box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4);
		color: black;
		height: 40px;
		padding: 10px;
		pointer-events: none;
		position: absolute;
		width: 250px;

		&.off {
			opacity: 0;
		}
	}

	.chart-legend-toggler {
		cursor: pointer;
		display: flex;
		flex-direction: row;

		& button {
			@include typography('Rubik', 14px, 20px, $color-teal-light);
			cursor: pointer;
			fill: $color-teal-light;
			margin: 20px 0;
			padding: 5px;

			&.open {
				color: $color-white;
				fill: $color-white;
			}

			& .right-icon {
				height: 11px;
				margin-left: 5px;
				transition: transform 0.6s;
				width: 11px;
			}

			& .rotated {
				transform: rotate(180deg);
			}
		}
	}

	.chart-legend {
		list-style: none;
		text-align: left;

		& button {
			@include typography('Rubik', 14px, 20px, $color-white);
			margin-bottom: 7px;
		}

		.legend-axis {
			color: white;
			font-size: 14px;

			.legend-axis-color {
				border-radius: 10px;
				float: left;
				height: 15px;
				margin: 2px;
				margin-right: 10px;
				margin-top: 3px;
				width: 15px;

				&.quality {
					background-color: $color-quality;
				}

				&.aci {
					background-color: $color-aci;
				}

				&.ia {
					background-color: $color-ia;
				}
			}

			.legend-axis-title {
				display: inline-block;
				text-align: left;
				width: 165px;
			}
		}
	}
}
