.react-tabs {
	position: relative;

	.react-tabs__tab-list {
		border-bottom: 1px solid $color-gray-very-light;
		display: flex;
		list-style-type: none;
		margin-bottom: 0;
		padding-left: 0;
	}

	.react-tabs__tab-rule {
		background: $color-gray-very-light;
		height: 1px;
		position: absolute;
		z-index: -1;
	}

	.react-tabs__tab {
		border-color: $color-gray-very-light;
		border-style: solid;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-width: 1px;
		color: $link-color;
		cursor: pointer;
		display: inline-block;
		margin-bottom: -1px;
		margin-left: 0.625rem;
		padding: 1.25rem;
		padding-bottom: 0.9375rem;
		text-decoration: none;
		text-transform: uppercase;

		&[aria-selected='true'] {
			border-bottom-color: $color-white;
			color: $color-text-main;
		}

		&[aria-disabled='true'] {
			background: $color-gray-very-light;
			color: $color-gray-darker-medium;
			cursor: not-allowed;
		}
	}

	.react-tabs__tab-panel {
		margin-top: 2.5rem;

		&:empty {
			display: none;
		}

		&:not(.react-tabs__tab-panel--selected) {
			display: none;
		}
	}

	&.react-tabs__full-width {
		.react-tabs__tab-list {
			border-bottom: 0 none;
		}

		.react-tabs__tab:first-child {
			margin-left: 0;
		}
	}
}
