<!DOCTYPE html>

<!--[if IE 8]> <html class="ie8" lang="en"><![endif]-->
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name='viewport' content='initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no' />
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/images/favicon/favicon.ico' | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | relative_url }}" />

    <title>{% if page.meta-title %}{{page.meta-title}}{% else %}{{page.title}}{% endif %} | {{ site.title }}</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!--[if IE]>
      <style>
      .hidden-ie {display: none;}
      </style>
      <![endif]-->

</head>

<body>
        {% include header.html %} 

        <div class="wrapper">
                    
            {% include page-header.html %}

            <main class="main">
                <div class="rail-left">
                    <div class="rail-left-content">

                        {% include menu.html %}

                    </div>
                </div>  
                <div class="rail-right">
                    <div class="rail-right-content">

                        {{ content }}

                    </div>
                </div>
            </main>
        </div>
        
        {% include footer.html %}

    <script src="{{ '/scripts/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/scripts/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ '/scripts/site.js' | relative_url }}"></script>

</body>

</html>